.model {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.model__canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  cursor: grab;
  transition: opacity 0.4s ease;
}

.model__canvas--loading {
  opacity: 0;
}

.model__canvas:active {
  cursor: grabbing;
}
