.input {
  display: grid;
  justify-items: flex-start;
  position: relative;
}

.input__label {
  font-size: 11px;
  font-weight: 600;
  color: rgba(var(--rgbText));
  padding: 0 8px;
  margin-bottom: 6px;
}

.input__element {
  border: none;
  outline: none;
  padding: 8px;
  padding-right: 0;
  margin: 0;
  justify-self: stretch;
  min-width: 0;
  border-radius: 2px;
  transition: box-shadow 0.3s ease;
  background-color: rgba(var(--rgbSurface));
  height: 32px;
}

.input__element::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__element:hover {
  box-shadow: inset 0 0 0 1px rgba(var(--rgbText), 0.1);
}

.input__element:focus {
  box-shadow: inset 0 0 0 2px rgba(var(--rgbPrimary));
}

.input__color-swatch {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: absolute;
  left: 8px;
  bottom: 8px;
  box-shadow: inset 0 0 0 1px rgba(var(--rgbText), 0.05);
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.input__color-swatch:focus {
  box-shadow: inset 0 0 0 1px rgba(var(--rgbText), 0.05),
    0 0 0 2px rgba(var(--rgbText), 0.2);
}

.input__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: rgba(var(--rgbText), 0.6);
  pointer-events: none;
}

.input__dragger {
  width: 32px;
  height: 32px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: ew-resize;
}

.input__dragger .input__icon {
  position: static;
}

.input__icon + .input__element,
.input__dragger + .input__element,
.input__color-swatch + .input__element,
.dropdown + .input__element {
  padding-left: 32px;
}
