.button {
  border-radius: 5px;
  background-color: rgba(var(--rgbSurface));
  color: rgba(var(--rgbText));
  border: none;
  padding: 0 16px 1px;
  margin: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--rgbText));
  outline: none;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-property: background, color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.button:focus {
  box-shadow: inset 0 0 0 2px rgba(var(--rgbPrimary));
}

.button:disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.button--icon-only {
  padding: 0;
  width: 30px;
  box-shadow: none;
  background-color: transparent;
}

.button--icon-only[aria-pressed='true'] {
  color: rgba(var(--rgbPrimary));
}

.button--icon-only:hover {
  background: rgba(var(--rgbText), 0.1);
}

.button--icon-only:focus {
  box-shadow: inset 0 0 0 2px rgba(var(--rgbText), 0.2);
}

.button--icon-only svg {
  align-self: center;
  justify-self: center;
  flex: 0 0 auto;
  position: absolute;
}

.button--primary {
  box-shadow: none;
  background: rgba(var(--rgbPrimary));
  color: white;
}

.button--primary:focus {
  box-shadow: inset 0 0 0 2px rgba(var(--rgbBlack), 0.3);
}

.button--grey {
  box-shadow: none;
  background-color: transparent;
}

.button--grey:hover {
  background: rgba(var(--rgbText), 0.1);
}

.button--grey:focus {
  box-shadow: inset 0 0 0 2px rgba(var(--rgbText), 0.2);
}
