@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

.ui__spinner {
  position: absolute;
  inset: 0 240px 0 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--rgbSurface));
  transition: opacity 0.4s ease 0s;
}

.ui__spinner--entered {
  opacity: 1;
}

.spinner__element {
  fill: none;
  display: block;
  animation: spinner-rotate 1s linear infinite;
  transform-origin: center center;
}

.spinner__path {
  stroke: currentColor;
}
