.home {
  overflow-x: hidden;
}

.intro {
  background: var(--rgbBackground);
  grid-template-columns: var(--maxWidthM) 1fr;
  grid-row-gap: 20px;
  display: grid;
  align-items: center;
  min-height: 100vh;
  outline: none;
  padding-left: 264px;

  @media (--mediaDesktop) {
    & {
      grid-template-columns: var(--maxWidthS) 1fr;
      padding-left: 250px;
    }
  }

  @media (--mediaLaptop) {
    & {
      padding-left: var(--space4XL);
    }
  }

  @media (--mediaTablet) {
    & {
      display: flex;
      flex-direction: column-reverse;
      grid-row-gap: var(--spaceOuter);
      padding: var(--spaceOuter);
    }
  }

  @media (--mediaMobile) {
    & {
      padding: var(--spaceL);
    }
  }
}

.intro__text {
  position: relative;
  width: 100%;
}

.intro__logo {
  margin-bottom: var(--spaceL);
}

.intro__title {
  margin-bottom: var(--spaceXL);
}

.intro__description {
  letter-spacing: 1.1px;
  margin-bottom: var(--spaceXL);
}

.intro__buttons {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 1fr;
}

.intro__socials {
  display: flex;
  gap: var(--spaceS);
  justify-content: flex-end;

  & .icon {
    color: var(--colorTextBody);
  }
}

.intro__models {
  width: 100%;
  height: 100%;

  @media (--mediaTablet) {
    & {
      height: calc(3 / 4 * 100vw);
      left: auto;
      max-height: 100vh;
      position: relative;
      top: auto;
      width: 100%;
    }
  }
}
