.viewport {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.viewport__canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  cursor: grab;
  transition: opacity 0.4s ease;
}

.viewport__canvas--loading {
  opacity: 0;
}

.viewport__canvas:active {
  cursor: grabbing;
}
